# ignore ALL .log files
*.log

# ignore ALL .exe files
*.exe

# ignore ALL .o files
*.o

# ignore ALL files in ANY directory named data
data/

# ignore ALL files in ANY directory named build
build/

# ignore ALL files in ANY directory named .vscode
.vscode/